.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name 
        ウタヒロ
      %ul.side-header__box__menu
        %li.side-header__box__menu__edit-user
          = link_to "#" do
            = icon('fas', 'edit')
        %li.side-header__box__menu__new-group
          = link_to "/users/8297/edit" do
            = icon('fas', 'cog')
  .groups
    = link_to "#", class:"group" do
      %p.group__group-name
        歌広場
      %p.group__latest-message
        こんにちは